.map-container {
    width: 100%;
    height: calc(100% - 150px);
    position: absolute;
}

.toggle-base-map {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 70px;
    height: 70px;
    border-radius: 5px;
    z-index: 1;
}

.aerial {
    background-image: url('../../../assets/images/aerial.png');
    background-size: 70px 70px;
}

.streets {
    background-image: url('../../../assets/images/streets.png');
    background-size: 70px 70px;
}