.container {
    height: calc(100% - 60px);
    position: relative;

    .next-submit {
        position: absolute;
        bottom: 38px;
        left: 0px;
        width: 100%;
        z-index: 1;
        text-align: center;

        button {
            font-size: large;
            padding: 10px;
        }
    }
}

.show-map {
    display: inline;
}

.hide-map {
    display: none;
}

::ng-deep .mat-horizontal-stepper-header-container {
    position: fixed;
    top: 0;
    width: 100%;
}

::ng-deep .mat-stepper-horizontal {
    min-height: 140px;
}

::ng-deep .mat-horizontal-content-container {
    position: absolute !important;
    overflow: auto !important;
    top: 90px;
    width: calc(100% - 48px);
}

.documentaion {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
        text-align: center;
    }

    .form {
        margin-top: 50px;
        min-width: 150px;
        max-width: 500px;
        width: 100%;
    }
    
    .input-full-width {
        width: 100%;
    }
    
    .image {
        margin-top: 50px;
        text-align: center;
    }

}
